In [15]:
a=[1,1,1,2,2,3,3,4,5,5,6]
print(a.count(2))
print(a.count(3))

2
2

In [16]:
s=input('Enter a string:')
alphabets=digits=specialcharacters=0
for i in range(len(s)):
    if (s[i].isalpha()):
        alphabets+=1
    elif (s[i].isdigit()):
        digits+=1
    else:
        specialcharacters+=1
print('no of alphabets:',alphabets)
print('no of digits:',digits)
print('no of specialcharacters:',specialcharacters)

Enter a string:123qwe!@#
no of alphabets: 3
no of digits: 3
no of specialcharacters: 3

# sets
## set is a collection of elements they cant be return the duplicate values
### set syntax<------>(1,2,3)
## set declaration
### varname(1,2,3,4)

In [1]:
a={1,2,3,4,5,6}
type(a)
a

{1, 2, 3, 4, 5, 6}

In [2]:
print(dir(a))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [4]:
b={10,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 10}

In [5]:
a.intersection(b)

set()

In [6]:
a.add(20)
a

{1, 2, 3, 4, 5, 6, 20}

In [20]:
a={1,1,2,2,2,3,3,4,4,5,5,6,6,7}
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [21]:
a.pop()
a

{2, 3, 4, 5, 6, 7}

In [22]:
a.remove(3)

In [23]:
a

{2, 4, 5, 6, 7}

In [24]:
a.discard(7)

In [25]:
a

{2, 4, 5, 6}

In [29]:
c={1,2,3,4,8,9,14,35,643,64,3423}
a.update(c)
a

{1, 2, 3, 4, 5, 6, 8, 9, 14, 35, 64, 643, 3423}

In [30]:
a.difference(c)

{5, 6}

In [35]:
c.difference_update(a)
c

set()

In [37]:
s1={1,2,3,4}
s2={4,5,6,7}
s1.symmetric_difference_update(s2)
s1

{1, 2, 3, 5, 6, 7}

In [38]:
s3={1,2,3}

In [39]:
print(s1,s3)

{1, 2, 3, 5, 6, 7} {1, 2, 3}

In [40]:
s1.issuperset(s3)

True

In [41]:
print(s1,s2,s3)

{1, 2, 3, 5, 6, 7} {4, 5, 6, 7} {1, 2, 3}

In [42]:
s1.isdisjoint(s3)

False

In [43]:
s3.isdisjoint(s1)

False

In [55]:
q=input('Enter a string:')
for i in q:
    if i[0].isdigit:
        print('digit')
    elif i[0].isalphabet:
        print('alphabet')
    else:

        print('special character')

Enter a string:434
digit
digit
digit

In [58]:
# special functions
l= int(input('enter no of elements:'))
li=[]
for i in range(l):
    li.append(int(input()))
li

enter no of elements:3
324
324
432

[324, 324, 432]

In [59]:
li=[i for i in range(int(input()))]
li

6

[0, 1, 2, 3, 4, 5]

In [61]:
li=[i for i in range(10,101) if i%2==0]
print(li)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# lambda